@import './assets/fonts/font.css';

body {
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-width: 350px;
  scroll-behavior: smooth;
}

.reflex-container>.reflex-splitter {
  background-color: #E6E6E6 !important;
  border: none !important;
  width: 6px !important;
  height: 100px !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;